[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
doc8 = "*"
autopep8 = "*"
pytest = "*"
pytest-django = "*"
tox-pipenv = "*"
pytest-socket = "*"
black = "*"
pytest-factoryboy = "*"
hypothesis = "*"
pre-commit = "*"
ipython = "*"
pytest-cov = "*"
model-bakery = "*"

[packages]
django = "*"
django-environ = "*"
django-model-utils = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
